@font-face {
    font-family: 'SilkscreenNormal';
    src: url('slkscr-webfont.eot');
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscr-webfont.woff') format('woff'),
         url('slkscr-webfont.ttf') format('truetype'),
         url('slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1.fontface {
    font: 40px 'SilkscreenNormal', Arial, sans-serif;
    letter-spacing: 0;
    text-align:center;
    color:#FFFF00
}
body {
    background: url('http://192.168.1.1/bg.gif') repeat;
    overflow: hidden;
}